<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <% @artists.map do |artist| %>
        <div>Name: <a href="/artists/<%= artist.id %>"><%= artist.name %></a></div>
        <div>Genre: <%= artist.genre %></a></div>
        <br>
    <% end %> 
        <br>
    <a href="/artists/new">Add an Artist</a>
    <br>
    <a href="/">Home</a>
  </body>
</html>