<html>
  <head></head>
  <body>
    <h1>Congratulations</h1>

    <h2>Your Artist has been added.</h2>

    <a href="/artists">Back to Artist List</a>
    <br>
    <a href="/">Home</a>
  </body>
</html>