<h1>Add an Album</h1>
    
    <form action="/albums" method="POST">
        <div>
            <label>Title</label>  
            <input type="text" name="title">
        </div>
        <br>
        <div>
            <label>Year Released</label>  
            <input type="text" name="release_year">
        </div>
        <br>
        <div>
            <label>Arist ID</label>  
            <input type="text" name="artist_id">
        </div>
        <br>

        <input type="submit" value="Add Album">
    </form>


    <br>
    <a href="/albums">Back to Albums list</a>