<h1>Add an Artist</h1>
    
    <form action="/artists" method="POST">
        <div>
            <label>Name</label>  
            <input type="text" name="name">
        </div>
        <br>
        <div>
            <label>Genre</label>  
            <input type="text" name="genre">
        </div>
        <br>

        <input type="submit" value="Add Artist">
    </form>


    <br>
    <a href="/artists">Back to Artists list</a>
    <br>
    <a href="/">Home</a>